<!-- Formulario -->
<div class="col-11 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create a new apprentice</h4>
            <form class="form-sample" id="createNewApprentice" action="/apprentices/create/newApprentice" method="post">
                <p class="card-description">
                    Please fill in the following information 📝
                </p>
                <div class="row ">
                    <div class="col-md-9">

                    </div>
                    <div class="form-group row">
                        <div class="container">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">Cancel</button>
                        </div>
                    </div>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <div class="form-group row">
                        <div class="container">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitModal">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Identification</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="CC or TI" name="identification" id="identification" onchange="validate('identification')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ID CCMS</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="Number ID" name="idCCMS" itemid="idCCMS" onchange="validate('idCCMS')"
                                       id="idCcms" required />
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Complete name" id="name" name="name" onchange="validate('name')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Group</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="Number" id="group" name="group" onchange="validate('group')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">SGVA</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sgva" name="sgva">
                                    {{#each svgaOptions}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CECO</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="Number" name="ceco" id="ceco" onchange="validate('ceco')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Job Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Description" name="jobDescription" id="jobDescription" onchange="validate('jobDescription')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Related Position</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Related" name="relatedPosition" id="relatedPosition" onchange="validate('relatedPosition')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Payment</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="$ SMLV" name="payment" id="payment" onchange="validate('payment')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">BirthDay</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="birthDay" id="birthday" onchange="validate('birthday')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Address" name="address" id="address" onchange="validate('address')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">E-Mail</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="E-mail"  name="email" id="email" onchange="validate('email')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">EPS</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="EPS" name="eps" id="eps" onchange="validate('eps')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="city" id="city">
                                    {{#each listCity}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Institutions</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Institutions" name="institution" id="institution" onchange="validate('institution')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Specility</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Specility" name="specility" id="specility" onchange="validate('specility')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name Boss</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Direct Boss" name="nameBoss" id="nameBoss" onchange="validateInput('nameBoss')"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ID CCMS Boss</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder=" ID CCMS Boss" name="ccmsBoss" id="ccmsBoss" onchange="validateInput('ccmsBoss')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="category" id="category">
                                    {{#each categoryOptions}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Yielded</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="yielded" id="yielded">
                                    {{#each yieldedOptions}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="state" id="state">
                                    {{#each stateOptions}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Company</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="company" id="company" onchange="validateInput('company')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contract Start Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="contratStartDate" id="contratStartDate" onchange="validateDates();validateInput('contratStartDate'); calcularDias() "/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">End Date Of Study</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="endDateStudy" id="endDateStudy" onchange="validateDates();validateInput('endDateStudy'); calcularDias()"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Productive Start Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="productiveStartDate" id="productiveStartDate" onchange="validateDates();validateInput('productiveStartDate'); calcularDias()"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Productive End Date</label>
                            <div class="col-sm-9">  
                                <input type="date" class="form-control" name="productiveEndDate" id="productiveEndDate" onchange="validateDates();validateInput('productiveEndDate'); calcularDias()"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Count Days</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" readonly name="countDays" id="countDays" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" onchange="validateInput('phoneNumber')"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="form-group row">
                        <div class="container p-10">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">Cancel</button>
                        </div>
                    </div>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <div class="form-group row">
                        <div class="container p-10">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitModal">Submit</button>
                        </div>
                    </div>
                </div>



            </form>

        </div>

        <!-- Modals-->

        <!-- Cancel -->
        <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cancel Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to cancel the creation of the current record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href='/'">Cancel Creation</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit -->
        <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Submit Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to send the current record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="enviarFormulario()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Error Form -->
        <div class="modal fade" id="formInvalid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Form Incomplete.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Some fields are not filled in, please validate.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Error Form -->
        <div class="modal fade" id="dateError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Error in date assignment.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Error in dates, Please validate the dates entered, they must comply with the following rules:</p>
                        <p>1. Contract Start Date cannot be greater than End Date Of Study.</p>
                        <p>2. End Date Of Study cannot be greater than Productive Start Date.</p>
                        <p>3. Productive Start Date cannot be greater than Productive End Date.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function enviarFormulario() {
        var identification = document.getElementById("identification");
        var idCCMS = document.getElementById("idCcms");
        var name = document.getElementById("name");
        var group = document.getElementById("group");
        var ceco = document.getElementById("ceco");
        var jobDescription = document.getElementById("jobDescription");
        var relatedPosition = document.getElementById("relatedPosition");
        var payment = document.getElementById("payment");
        var birthday = document.getElementById("birthday");
        var address = document.getElementById("address");
        var email = document.getElementById("email");
        var eps = document.getElementById("eps");
        var institution = document.getElementById("institution");
        var specility = document.getElementById("specility");
        var nameBoss = document.getElementById("nameBoss");
        var ccmsBoss = document.getElementById("ccmsBoss");
        var company = document.getElementById("company");
        var contratStartDate = document.getElementById("contratStartDate");
        var endDateStudy = document.getElementById("endDateStudy");
        var productiveStartDate = document.getElementById("productiveStartDate");
        var productiveEndDate = document.getElementById("productiveEndDate");
        var phoneNumber = document.getElementById("phoneNumber");

        var isFormValid = true;

        if (identification.value == "") {
            identification.classList.add("invalid");
            isFormValid = false;
        }
        if (idCCMS.value == "") {
            idCCMS.classList.add("invalid");
            isFormValid = false;
        }
        if (name.value == "") {
            name.classList.add("invalid");
            isFormValid = false;
        }
        if (group.value == "") {
            group.classList.add("invalid");
            isFormValid = false;
        }
        if (ceco.value == "") {
            ceco.classList.add("invalid");
            isFormValid = false;
        }
        if (jobDescription.value == "") {
            jobDescription.classList.add("invalid");
            isFormValid = false;
        }
        if (relatedPosition.value == "") {
            relatedPosition.classList.add("invalid");
            isFormValid = false;
        }
        if (payment.value == "") {
            payment.classList.add("invalid");
            isFormValid = false;
        }
        if (birthday.value == "") {
            birthday.classList.add("invalid");
            isFormValid = false;
        }
        if (address.value == "") {
            address.classList.add("invalid");
            isFormValid = false;
        }
        if (email.value == "") {
            email.classList.add("invalid");
            isFormValid = false;
        }
        if (eps.value == "") {
            eps.classList.add("invalid");
            isFormValid = false;
        }
        if (institution.value == "") {
            institution.classList.add("invalid");
            isFormValid = false;
        }
        if (specility.value == "") {
            specility.classList.add("invalid");
            isFormValid = false;
        }
        if (nameBoss.value == "") {
            nameBoss.classList.add("invalid");
            isFormValid = false;
        }
        if (ccmsBoss.value == "") {
            ccmsBoss.classList.add("invalid");
            isFormValid = false;
        }
        if (company.value == "") {
            company.classList.add("invalid");
            isFormValid = false;
        }
        if (contratStartDate.value == "") {
            contratStartDate.classList.add("invalid");
            isFormValid = false;
        }
        if (endDateStudy.value == "") {
            endDateStudy.classList.add("invalid");
            isFormValid = false;
        }
        if (productiveStartDate.value == "") {
            productiveStartDate.classList.add("invalid");
            isFormValid = false;
        }
        if (productiveEndDate.value == "") {
            productiveEndDate.classList.add("invalid");
            isFormValid = false;
        }
        if (phoneNumber.value == "") {
            phoneNumber.classList.add("invalid");
            isFormValid = false;
        }

        var isValidDates = validateDates();

        if (isValidDates) {
            if (isFormValid ) {
                document.getElementById("createNewApprentice").submit();
            } else {
                $("#formInvalid").modal('show');
            }
        }
    }

    function validateInput(inputId) {
        var inputToValidate = document.getElementById(inputId);

        if (inputToValidate.value == "") {
            inputToValidate.classList.add("invalid");
        } else {
            inputToValidate.classList.remove("invalid")
        }
    }

    function validateDates() {
        var contratStartDate = document.getElementById("contratStartDate");
        var endDateStudy = document.getElementById("endDateStudy");
        var productiveStartDate = document.getElementById("productiveStartDate");
        var productiveEndDate = document.getElementById("productiveEndDate");

        var fechaContratStart = new Date(contratStartDate.value + 'T00:00');
        var fechaSturdyEnd = new Date(endDateStudy.value + 'T00:00');
        var fechaProductiveStart = new Date(productiveStartDate.value + 'T00:00');
        var fechaProductiveEnd = new Date(productiveEndDate.value + 'T00:00');

        if (fechaContratStart > fechaSturdyEnd || fechaSturdyEnd > fechaProductiveStart || fechaProductiveStart > fechaProductiveEnd) {
            contratStartDate.classList.add("invalid");
            endDateStudy.classList.add("invalid");
            productiveStartDate.classList.add("invalid");
            productiveEndDate.classList.add("invalid");

            $("#dateError").modal('show');

            return false;
        }

        return true;
    }

    function calcularDias() {
        var fechaini = new Date(document.getElementById('contratStartDate').value + 'T00:00');
        var fechafin = new Date(document.getElementById('productiveEndDate').value + 'T00:00');
        var diasdif= fechafin.getTime()-fechaini.getTime();
        var contdias = Math.round(diasdif/(1000*60*60*24));

        console.log(fechaini);
        console.log(fechafin);
        console.log(diasdif);
        console.log(contdias);
        
        var inputProductiveEndDate = document.getElementById('productiveEndDate');

        document.getElementById('countDays').setAttribute('value', contdias + 1) 
      
    }
</script>