<!-- Formulario -->
<div class="col-11 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create a new Modification</h4>
            <form class="form-sample" id="updateModification" action="{{url}}{{modification.mod_id}}"
                method="post">
                <p class="card-description">
                    Please fill in the following information 📝
                </p>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo Modificación</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="typeModification" name="typeModification">
                                    {{#each listOptionsTypeModification}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Número de Docuemento del Aprendiz</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="Document ID" name="documentId"
                                    id="documentId" value="{{apprentice_id}}" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fecha de Inicio</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="dateStart"
                                    name="dateStart" value="{{modification.mod_date_start}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fecha de Finalización</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" placeholder="Number" id="dateEnd" name="dateEnd"
                                    onchange="calcularDias()" value="{{modification.mod_date_end}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Cantidad de Días</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="Count Days" name="countDays"
                                    id="countDays" value="{{modification.mod_count_day}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="form-group row">
                        <div class="container p-10">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#cancelModal">Cancel</button>
                        </div>
                    </div>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <div class="form-group row">
                        <div class="container p-10">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#submitModal">Submit</button>
                        </div>
                    </div>
                </div>



            </form>

        </div>

        <!-- Modals-->

        <!-- Cancel -->
        <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cancel Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to cancel the creation of the current record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="window.location.href='/'">Cancel Creation</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit -->
        <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Submit Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to send the current record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="enviarFormulario()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Error Number Apprentice -->
        <div class="modal fade" id="numberApprenticeError" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Error in the field "Number Identification
                            Apprentice".</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>No apprentice found with the entered identification number</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    mostrarAlerta({{alerta}})

    function mostrarAlerta(activar) {
        if (activar == true) {
            window.onload = setTimeout(() => {
                $("#numberApprenticeError").modal('show');
            }, 1000);
        }
    }

    function enviarFormulario() {
        document.getElementById("updateModification").submit();
    }

    function calcularDias() {
        var fechaini = new Date(document.getElementById('dateStart').value + 'T00:00');
        var fechafin = new Date(document.getElementById('dateEnd').value + 'T00:00');
        var diasdif = fechafin.getTime() - fechaini.getTime();
        var contdias = Math.round(diasdif / (1000 * 60 * 60 * 24));

        document.getElementById('countDays').setAttribute('value', contdias + 1)

    }
</script>