<!-- Consultar Usuarios -->

<br>
<div class="container">


    <div class="col-md-20">
        <h4>Consult Users</h4>

        <br>
        
        <div class="row pl-1 pr-1">
                    <div class="form-group row ">
                        <div class="container">
                            <button type="button" class="btn btn-success btn-icon-text" onclick="window.location.href='/users/create/'">
                                <i class="fa-solid fa-plus"></i> Create New Record
                            </button>
                        </div>
                    </div>
                    {{#if hasDowloadRecordPermition}}
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <div class="form-group row ml-1 mr-2">
                        <a href="/users/dowload" download="report_apprentices.xlsx">
                            <button type="button" class="btn btn-warning btn-icon-text" >
                                <i class="fa-solid fa-download"></i>
                                Download Records
                            </button>
                        </a>
                    </div>
                    {{/if}}
                </div>
                
                <div class="container" id="searchElementContainer">
                    <div class="input-group rounded">
                        <input type="text" class="form-control rounded" placeholder="Search ðŸ”" aria-label="Search"
                            aria-describedby="search-addon" id="searchElement" onchange="searchIntoTable()" />
                    </div>
                </div>
        </div>

        <br>
        <div class="container">
            <div class="row">
                <div class="col-9 ">
                    <p>Showing {{countRecords}} entries</p>
                </div>
                <!--
                <div class="col-1 ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            {{#each pagination}}
                            <li class="page-item"><a class="page-link" href="#">{{number}}</a></li>
                            {{/each}}
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
                -->
            </div>
        </div>

        <div class="container">
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                        <th><input type="checkbox" id="checkall" /></th>
                        <th>Number Identification</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        {{#each listUsers}}
                        <tr id="tr{{use_id}}">
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td id="tdNumberIdentification{{use_id}}">{{use_identification_number}}</td>
                            <td id="tdName{{use_id}}">{{use_name}}</td>
                            <td id="tdEmail{{use_id}}">{{use_email}}</td>
                            <td >{{use_rol_id}}</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                        onclick="window.location.href='/users/edit/{{use_id}}/'"
                                        class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                        data-target="#edit"><span><i class="fa-solid fa-pen-clip"></i></span></button>
                                </p>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                        onclick="deleteRecord({{use_id}})" class="btn btn-danger btn-xs"
                                        data-title="Delete" data-toggle="modal" data-target="#delete"><span><i
                                                class="fa-solid fa-trash-can"></i></span></button></p>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>

                </table>
            </div>
        </div>

    </div>
</div>

<script>
    function deleteRecord(idUser) {

        var result = confirm('Are you sure you want to delete this record?');

        if (result) {
            var url = "/users/delete/" + idUser;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", url);

            xhr.onreadystatechange = function () {
            };

            xhr.send();

            setTimeout(() => {
                location.reload()
            },1000)
            
        }

    }

    function searchIntoTable(){

        var valueToSearh = document.getElementById("searchElement").value.toString();

        var listUsersToSearch = [
            {{#each listUsers}}
                {{use_id}} ,
            {{/each}}
        ];

        for (var i = 0; i < listUsersToSearch.length; i++) {

            var numberIdentificationId = document.getElementById("tdNumberIdentification" + listUsersToSearch[i]).innerText;
            var name = document.getElementById("tdName" + listUsersToSearch[i]).innerText;
            var email = document.getElementById("tdEmail" + listUsersToSearch[i]).innerText;

            if (numberIdentificationId.includes(valueToSearh) || name.includes(valueToSearh) || email.includes(valueToSearh)) {
                document.getElementById("tr" + listUsersToSearch[i]).style.display = '';
            } else {
                document.getElementById("tr" + listUsersToSearch[i]).style.display = 'none';
            }
        }

        
    }
</script>